body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqqjrlDOwUrCBL5LnGOjReYFKGAxx1yQLTYg&usqp=CAU');
}
section {
    text-align: left;
    color: black;
}
/* img {
    float: left;
    border: solid azure 2px;
    margin-right: 10px;
} */
/* footer {
    background: #34383d;
    color: azure;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: solid azure 2px;
    margin-top: 10px;
} */
.row{
    text-align: center;
}
.card {
    text-align: left;
    color: black;
    width: 50%;
}
.card-header {
    font-size: 24px;
}
.nav-link{
    color: white;
}
#navigation {
    margin-bottom: 20px;
    background-color:black;
    color: teal;
}
#picture{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-bottom: 75px;
    border: dashed black 1px;
}
#about{
    text-align: left;
    color: white;
    background-color: black;
}
#contactCard{
  align-content: center;
}


/* @media only screen and (max-width: 768px) {

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

} */