body {
    background: aquamarine;
}

nav {
    margin-bottom: 30px;
}


section {
    background: #34383d;
    text-align: center;
    padding: 10px;
    color: azure;
}

img {
    float: left;
    border: solid white 2px;
}

footer {
    background: #34383d;
    color: azure;
    position: fixed;
    bottom: 0;
    width: 100%;
}