body {
    background: aquamarine;
}

nav {
    margin-bottom: 15px;
}

section {
    background: #34383d;
    text-align: center;
    padding: 20px;
    color: azure;
    border: solid azure 2px;
    margin: 0px 10px 0px 10px;
}

img {
    float: left;
    border: solid azure 2px;
}

footer {
    background: #34383d;
    color: azure;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: solid azure 2px;
    margin-top: 10px;
    
}

.card {
    color:  #34383d;
}

.card-header {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

}